rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      // any authenticated user can read and create
      allow read, create: if request.auth != null;
      // only users who "own/created" a document can update it (user id's match)
      allow update: if request.auth.uid == user_id;
    }
    match /projects/{project_id} {
      // any authenticated user can read, create & update a document
      allow read, create, update: if request.auth != null;
      // only users who "own/created" a document can  delete it
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}